body{
    font-family: 'Poppins', 'open-sans';
    font-weight: 300;
}
img{
    max-width:100%;
}

nav.navbar {
    padding: 20px 0;
}

nav.navbar .nav-item .nav-link {
    font-weight: 500;
    padding: 15px;
}


.slider{
    background-size:cover;
    background-position: center;
    background-color: #fff;
}
.slider .carousel-indicators li {
    background-color: gray;
    height: 8px;
    width: 15px;
    border-radius: 10px;
    transition:.3s;
    border-top: 0px solid;
    border-bottom: 0px solid;
}

.slider .carousel-indicators li.active {
    width: 25px;
    background-color: #FFC51E;
}

.buy-now-btn{
    background-color: #000000;
    color: #fff;
    text-transform: uppercase;
    font-size:15px;
    padding: 8px 20px;
    border-radius: 5px;
    border:none;
    outline: none;
    margin-top: 15px;
}
.slide-img{
    position: relative;
}
.slide-img::before {
    position: absolute;
    left: -200px;
    top: 30%;
    content: 'BEST PRODUCTS';
    transform: rotate(270deg);
    font-size: 45px;
    color: #f1f1f1;
    font-weight: 700;
}
.card{
    text-align: center;
}
.title {
    margin: 30px 0;
}

.title h1 {
    font-size: 30px;
    color: #000;
}

.title a {
    color: #FFC51E;
    font-weight: 400;
}
.title {
    margin-bottom:30px;
}

.title h1 {
    font-size: 30px;
    color: #000;
}

.title a {
    color: #FFC51E;
    font-weight: 400;
}

.card {
    border: none;
    box-shadow: 5px 10px 30px #ddd;
    padding: 40px 20px 10px;
    border-radius: 5px;
}

.title {
    margin-bottom: 30px;
}

.title h1 {
    font-size: 30px;
    color: #000;
}

.title a {
    color: #FFC51E;
    font-weight: 400;
}

section {
    margin: 80px 0;
}


.category-title {
    text-align: center;
    margin-bottom: 50px;
}


.category-title h2::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 80px;
    height: 6px;
    background-color: #FF9E33;
    transform: translate(-50%);
    border-radius: 10px;
}

.category-title h2 {
    position: relative;
    padding-bottom: 20px;
    font-size: 30px;
}
.single-cat {
    box-shadow: 2px 6px 15px #aaa;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}
.single-cat img {
    width: 90px;
    margin-bottom: 15px;
}


@media (max-width: 576px){
    .single-cat{
        width: 100%;
        text-align: center;

    }
    .col-sm-3 .row .single-cat{
       margin: 15px 15px;
    }
}